/* BASICS */

body, html {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* MAP */

.map-container {
    width: 100%;
}

#map {
    height: 20rem;
    width: 100%;
    margin: auto;
    margin-bottom: 0.5rem;
}

.current-location {
    width: 3rem;
    /* margin: auto; */
    display: block;
    cursor: pointer;
    transition: ease-in 0.2s;
    border-radius: 50%;
}

.current-location:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 215, 0, 0.6);
}

/* LOCATIONS */

.my-locations {
    background-color: #08AEEA;
    background-image: linear-gradient(180deg, #08AEEA 0%, #2AF598 100%);
    padding: 0.5rem;
}

.fav-location {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    padding: 1rem;
    border: 1px solid;
    border-radius: 5%;
    background-color: rgb(255, 99, 71);
    transition: ease-out 0.2s;
    cursor: pointer;
}

.fav-location:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.location-name {
    font-size: x-large;
    font-weight: 700;
}

.fa-times {
    transition: ease 0.2s;
    cursor: pointer;
    font-size: x-large;
}

/* LAYOUT */

.top-navigation {

    height: 5rem;
    width: 100%;
    background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    padding: 0 1rem;
    color: white;
}

.nav-header {

    max-width: 70%;
    margin: auto;
}

input {
    padding: 0.5rem;
    font-size: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.btn {
    padding: 0.5rem;
    background-color: white;
    border-radius: 15px;
    border: 1px solid;
    outline: none;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    color: white;
}

.main-content {
    /* padding: 1rem; */
}

.info-header {

    padding: 1rem;
}

/* miscellaneous */

.logo {

    font-size: 3rem;
    font-weight: 700;
}

/* HELPERS */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.space-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}